<!--The content below is only a placeholder and can be replaced.-->
<header class="heder">
    <div class="logo float-left">
        <h1 class="float-left">{{title}}</h1>
    </div>
    <div class="menu float-left">
        <ul>
            <li *ngFor="let item of menu"><a routerLink={{item.routerLink}}>{{item.text}}</a></li>
        </ul>
    </div>
    <div class="tongue float-right">
        <ul>
            <li *ngFor="let item of img"><a routerLink={{item.routerLink}}><img src={{item.src}} alt={{item.alt}}></a></li>
        </ul>
    </div>
</header>
<main>
    <router-outlet></router-outlet>
</main>