<!--The content below is only a placeholder and can be replaced.-->
<header class="heder">
    <div class="logo float-left">
        <h1 class="float-left">{{title}}</h1>
    </div>
    <div class="menu float-left">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="FavoriteBooks">Favorite boocks</a></li>
        </ul>
    </div>
    <div class="tongue float-right">
        <ul>
            <li><a routerLink="#"><img src="assets/img/ru.png" alt="ru"></a></li>
            <li><a routerLink="#"><img src="assets/img/us.png" alt="us"></a></li>
        </ul>
    </div>
</header>
<main>
    <router-outlet></router-outlet>
</main>