.tongue {
    float: right;
    padding: 23px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.tongue li {
    float: left;
}
.tongue li + li  {
    margin-left: 20px;
} 
.tongue img {
    width: 30px;
}
a {
    cursor: pointer;
}